.container-margin-manual {
    margin-top: -70px;
    width: 1400px;    
    border-radius: 15px;
    
}

.uk-card-mystyle {
    border-radius: 25px;
}

.width-only-this {
    width: 85%;
}
.line-mystyle {
    width: 72px;
    background-color: #09a066;
    height: 5px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.button-mystyle {
    border-radius: 15px;
    background-color: #099d64;
    margin-top: 15px;
    text-transform: uppercase;
    margin-left: 30px;
}
.button-mystyle:hover {
    -webkit-box-shadow: 0 0 18px 1px #09a066;
      box-shadow: 0 0 18px 1px #09a066;
      border: 1px solid #09a367;
      background-color: #09a367;
      color: #ffffff !important;
      text-decoration: none; 
}

.dolzarb-manual-style {
    margin-top: 45px;
}

.uk-pos-man {
    width: 45%;
}

.sarlavha-man {
    margin: 25px 20px;    
}

.change-your-st img {
    margin-left: 20px;
    margin-bottom: 15px;
}

.own-style-st {
    margin-top: 2px;
    margin-left: -5px !important;
    margin-bottom: 40px;
    
}





